body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.radio-icon {
    max-width: 512px;
}

.radio-icon .radio-on {
    /* Initially hidden */
    display: none;
}

.marquee {
    overflow: hidden;
    width: auto;
}

.item-stream {
    margin-right: 10px;
}